/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
}

/* Menu */

#menu a {
    font: size 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font: size 18px;
    font-weight: bold;
}

/* Image Slider */

.carousel-inner {
    max-height:39rem;
}

/* Media Queries SM */
@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
     }
     .servicio-fila {
        width: 100% !important;
        text-align: center;
     }

     #equipo p{
        display:none;
     }
}

/* Media Queries EXTRA-SM */
@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}